*{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.user-linux{
    text-align: center;
    margin-top: 4vw;
}
.tableau{
    border: 1px solid teal;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

table{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: forestgreen;
}
.page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: antiquewhite;*/
    margin-left: 40px;
    margin-right: 40px;
}
.page div{
    margin: 10px;
}
th, td {
    padding: 15px 20px;
    text-align: center;
}

.page a{
    border: 1px solid blue;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    color: black;
}